@import "tailwindcss";
@plugin "daisyui";




@plugin "daisyui/theme" {
  name: "theme";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30% 0.056 229.695);
  --color-base-200: oklch(39% 0.07 227.392);
  --color-base-300: oklch(45% 0.085 224.283);
  --color-base-content: oklch(95% 0.045 203.388);
  --color-primary: oklch(68% 0.162 75.834);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(62% 0.194 149.214);
  --color-secondary-content: oklch(98% 0.018 155.826);
  --color-accent: oklch(59% 0.145 163.225);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(30% 0.056 229.695);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

